# Python
#test.py

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
.cache
# Environment variables
.env
env/

credentials.json
token.json
ftp_script.txt
script.sh
# Flask related
instance/

Pipfile
Pipfile.lock

# Static files
static/images/