 
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>El Niño Aquel</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Tienda de libros cristianos" />
		<meta name="keywords" content="libros cristianos, ipuc, iglesia pentecostal, evangelicos, libros" />
		<meta name="author" content="sayacorcal.com" />

		<!-- Facebook and Twitter integration -->
		<meta property="og:title" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>
		<meta property="og:description" content=""/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="shortcut icon" href="favicon.ico">
		<!-- <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'> -->
		<link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">

		<!-- Animate.css -->
		<link rel="stylesheet" href="static/css/animate.css">
		<!-- Icomoon Icon Fonts-->
		<link rel="stylesheet" href="static/css/icomoon.css">
		<!-- Bootstrap  -->
		<link rel="stylesheet" href="static/css/bootstrap.css">
		<!-- Theme style  -->
		<link rel="stylesheet" href="static/css/style.css">

		<!-- Owl Carousel  -->
		<link rel="stylesheet" href="static/css/owl.carousel.min.css">
		<link rel="stylesheet" href="static/css/owl.theme.default.min.css">

		<!-- Modernizr JS -->
		<script src="static/js/modernizr-2.6.2.min.js"></script>
		<!-- FOR IE9 below -->
		<!--[if lt IE 9]>
		<script src="js/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		{% block content %}
		<header id="fh5co-header" style="background-image: url(https://live.staticflickr.com/65535/53541351927_a296afc0b5_o.jpg)">
			<div class="header-items">
				<h1>El niño aquel</h1>
				<div id="cart" class="cart" data-in-cart="{{noproductos}}">
					<span class="material-symbols-outlined">shopping_cart</span>
				</div>
			</div>
			<div class="overlay"></div>
			<div class="container">
				<div class="row" style="margin-top: 5em;">
					<div class="col-md-12 text-center">
						<h1 id="fh5co-logo" class="cursive-font"><a href="/">El niño aquel</a></h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="intro">
							<h2>"EL NIÑO AQUEL" no es solo una autobiografía, sino un tributo a la fuerza espiritual que impulsó a Armando a dedicar su vida a la fe y al servicio a Dios y a su prójimo.
    							<br/>Su historia inspiradora se convierte en un faro de esperanza, recordándonos que, con fe y perseverancia, podemos superar cualquier adversidad y dejar una huella perdurable en la comunidad.
							</h2>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<figure class="fh5co-intro-img">
							<img class="img-1 animate-box" src="https://live.staticflickr.com/65535/53541352132_1f384312ab_o.png" alt="imagen del libro El niño aquel">
							<img class="img-2 animate-box" src="https://live.staticflickr.com/65535/53542553219_4414c9666a_o.png"i alt="imagen del libro El niño aquel">
						</figure>
					</div>
				</div>
			</div>
		</header>
		{% endblock %}
		<div id="main">
			<div class="container">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/UmbInRaMtQM?si=KJROHsSS78ib8RP5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				
				<div class="row fh5co-feature">
					<div class="col-md-6 col-md-push-6">
						<div class="fh5co-copy">
							<div class="fh5co-copy-inner">
								<h2>El niño aquel</h2>
								<p>"EL NIÑO AQUEL" no es solo una autobiografía, sino un tributo a la fuerza espiritual que impulsó a Armando a dedicar su vida a la fe y al servicio a Dios y a su prójimo. Su historia inspiradora se convierte en un faro de esperanza, recordándonos que, con fe y perseverancia, podemos superar cualquier adversidad y dejar una huella perdurable en la comunidad.</p>
								<form action="/product-review" method="get" class="login">
									<button type="submit" class="btn btn-default btn-block" name="libro" value="elniñoaquel" >Ver libro</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="fh5co-img text-right">
							<figure class="fh5co-figure animate-box">
								<img class="img-2" src="https://live.staticflickr.com/65535/53542553219_4414c9666a_o.png" alt="imagen del libro El niño aquel">
							</figure>
						</div>
					</div>
				</div>
				<!-- END feature -->

				<div class="row fh5co-feature fh5co-reverse">
					<div class="col-md-6">
						<div class="fh5co-copy">
							<div class="fh5co-copy-inner">
								<h2>Palabras Memorables</h2>
								<p>Palabras memorables es la compilación de más de 150 enseñanzas que contienen una cantidad de temas doctrinales y de formación ministerial de nuestro visionero, Eliceo Duarte. Transcritas por el pastor Armando José Calderón, trabajo que hizo por muchas horas y años para lograr lo que hoy es palabras memorables.</p>
								<form action="/product-review" method="get" class="login">
									<button type="submit" class="btn btn-default btn-block" name="libro" value="palabrasmemorables" >Ver libro</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-img text-left">
							<figure class="fh5co-figure animate-box">
								<img class="img-2" src="https://live.staticflickr.com/65535/53542553074_f8c119ff75_o.png" alt="imagen del libro Palabras Memorables">
							</figure>
						</div>
					</div>
				</div>
				<!-- END feature -->

				<div class="row fh5co-feature last-feature">
					<div class="col-md-6 col-md-push-6">
						<div class="fh5co-copy">
							<div class="fh5co-copy-inner">
								<h2>Pequeños instrumentos</h2>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
								<form action="/product-review" method="get" class="login">
									<button type="submit" class="btn btn-default btn-block" name="libro" value="pequeñosinstrumentos" >Ver libro</button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-md-pull-6">
						<div class="fh5co-img text-right">
							<figure class="fh5co-figure animate-box">
								<img class="img-2" src="https://live.staticflickr.com/65535/53542410258_a4db6d3a67_o.png" alt="imagen del libro Pequeños Instrumentos">
							</figure>
						</div>
					</div>
				</div>
				<!-- END feature -->

				<div class="row row-pb-md">
					<div class="col-md-4">
						<div class="review text-center">
							<figure>
								<img src="https://live.staticflickr.com/65535/53542657200_30e78d9ae0_o.jpg" alt="user">
							</figure>
							<span>Roberto R. </span>
							<blockquote>
								<p>&ldquo;Los libros de Libro del Cristiano me han inspirado y fortalecido mi fe de manera increíble. ¡Una bendición absoluta en mi vida espiritual!&rdquo;</p>
							</blockquote>
						</div>
					</div>
					<div class="col-md-4">
						<div class="review text-center">
								<figure>
								<img src="https://live.staticflickr.com/65535/53542410228_32b556e3b8_o.jpg" alt="user">
							</figure>
							<span>John C. </span>

							<blockquote>
								<p>&ldquo;Libro del Cristiano se ha convertido en mi recurso esencial para encontrar material de estudio bíblico y devocionales. Una verdadera joya para pastores y líderes cristianos.&rdquo;</p>
							</blockquote>
						</div>
					</div>
					<div class="col-md-4">
						<div class="review active text-center">
							<figure>
								<img src="https://live.staticflickr.com/65535/53541351892_d38caaf442_o.jpg" alt="user">
							</figure>
							<span>Maria A. </span>

							<blockquote>
								<p>&ldquo;Los libros de esta página han sido mi refugio en tiempos de incertidumbre. Han respondido a mis preguntas más profundas y han renovado mi esperanza en la fe. ¡Gracias por enriquecer mi camino espiritual!&rdquo;</p>
							</blockquote>
						</div>
					</div>
				</div>
			</div>

			<div id="get-subscribe">
			</div>

			<footer id="footer">
				<div class="container">
					<div class="col-md-12 text-center">
						<p class="copyright">
							<small>&copy; 2024. Tienda de libros cristianos.</small>
							<em><small>Diseñado por 
								<a href="http://sayacorcal.com" target="_blank">SayaCorcal.com</a> 
							</small></em>
						</p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-apple"></i></a></li>
						</ul>
					</div>
				</div>
			</footer>
		</div>

		<!-- jQuery -->
		<script src="static/js/jquery.min.js"></script>
		<!-- jQuery Easing -->
		<script src="static/js/jquery.easing.1.3.js"></script>
		<!-- Bootstrap -->
		<script src="static/js/bootstrap.min.js"></script>
		<!-- Waypoints -->
		<script src="static/js/jquery.waypoints.min.js"></script>
		<!-- Carousel -->
		<script src="static/js/owl.carousel.min.js"></script>

		<!-- MAIN JS -->
		<script src="static/js/main.js"></script>

	</body>
</html>

